@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    /* border: solid 1px red; */
}

:root {
    --soft-cyan: rgb(165, 243, 235);           /*full slider bar*/
    --strong-cyan: rgb(16, 213, 194);          /*slider bg*/
    --light-grayish-red: rgb(254, 236, 231);   /*discount bg*/
    --light-red: rgb(255, 140, 102);           /*discount text*/
    --pale-blue: rgb(189, 204, 255);           /*cta-text*/

    --white: rgb(255, 255, 255);                /*pricing component bg*/
    --very-pale-blue: rgb(250, 251, 255);      /*main bg*/
    --light-grayish-blue: rgb(234, 238, 251);   /*empty slider bar*/
    --light-grayish-blue-2: rgb(205, 215, 238); /*toggle bg*/
    --grayish-blue: rgb(133, 143, 173);         /*text*/
    --dark-desaturated-blue: rgb(41, 51, 86);/*text & cta bg*/
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url(images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-color: var(--very-pale-blue);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 200px;

    background-image: url(images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.introduction p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--grayish-blue);
}

.introduction h1 {
    font-weight: 800;
    color: var(--dark-desaturated-blue);
}

.container {
    width: 31.25rem; /*500px*/
    height: 21.875rem; /*300px*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: var(--white);

    border-radius: 10px;
    box-shadow: 1px 1px 14px -7px rgb(0, 0, 0, 0.2);
}

.price-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 31.25rem;
}

.page-views {
    font-weight: 600;
    color: var(--grayish-blue);
}

.price {
    font-weight: 800;
    font-size: 2.8rem;
    color: var(--dark-desaturated-blue);
}

.price-month {
    font-weight: 600;
    color: var(--grayish-blue);
    
    display: flex;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    background-color: var(--soft-cyan);
    outline: none;

    width: 80%;
    height: .5rem;
    border-radius: 5px;

    margin-bottom: 1rem;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--strong-cyan);
    background-image: url(images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    cursor: pointer;
    box-shadow: 0px 8px 20px 3px rgba(16, 213, 193, 0.4);
}

.slider::-moz-range-thumb { 
    background-color: var(--strong-cyan);
    background-image: url(images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;

    cursor: pointer;
    box-shadow: 0px 8px 20px 3px rgba(16, 213, 193, 0.4);
}

.slider:active::-webkit-slider-thumb {
    background-color: #22AEA1;
}

.slider:active::-moz-range-thumb {
    background-color: #22AEA1;
}

.bill-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;

    width: 31.25rem;
    height: 1.313rem; /*21px*/

    padding-right: 4.5rem;
}

.bill-box  p {
    color: var(--grayish-blue);
    font-weight: 600;
    font-size: .8rem;
}

.discount {
    background-color: var(--light-grayish-red);
    border-radius: 0.625rem;

    font-size: .5rem;
    font-weight: 600;
    color: var(--light-red);
    letter-spacing: .5px;

    padding: 4px;
}

input[type = "checkbox"] {
    appearance: none;
    width: 2.5rem;
    height: 1.25rem;
    position: relative;

    background-color: var(--light-grayish-blue-2);
    border-radius: 1rem;
    cursor: pointer;
    transition: .4s;
}

input:checked[type = "checkbox"] {
    background-color: var(--soft-cyan);
}

input[type = "checkbox"]:before {
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    background-color: white;
    transition: .4s;
}

input:checked[type = "checkbox"]:before {
    left: 21px;
}

hr {
    width: 100%;
    border: 0;
    border-top: solid 2px var(--light-grayish-blue);
}

.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 31.25rem;
}

ul {
    list-style-image: url(images/icon-check.svg);
    margin: 0;
    padding: 0;
}

li {
    padding-left: 1rem;
    margin-bottom: .5rem;

    color: var(--grayish-blue);
    font-size: .8rem;
    font-weight: 600;
}

.btn {
    width: 9.5rem;
    height: 2.5rem;

    border: none;
    border-radius: 2rem;

    color: var(--pale-blue);
    font-weight: 600;

    background-color: var(--dark-desaturated-blue);

    cursor: pointer;
}